<h1>Change Password:</h1>
<%= form_for @user ,url: user_change_password_path(@user) do |f| %>
    <% if @user.errors.any? %>
      <p>
        <%= @user.errors.full_messages.join(', ') %>
      </p>a
    <% end %>

    <div>
        <%= f.label :currentpassword , "Current Password"%>
        <%= f.password_field :currentpassword %>
    </div>

    <div>
        <%= f.label :password , "New Password"%>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.label :password_confirmation, "Conform Your password" %>
        <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Change Password"%>
<% end %>